@model IEnumerable<rps.Models.DepartmentBatch>
@{
    ViewData["Title"] = "Department";
}
<div class="app-wrapper">
    <div class="app-content">
        <!-- Body main section starts -->
            <main>
            <div class="container-fluid">
                <!-- ready to use table start -->
                <div class="row">
                    <!-- student list tabel 2-->
                    <h2>@ViewBag.DepartmentName</h2>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="app-scroll table-responsive app-datatable-default">
                                    <table id="exampledatatable1" class="w-100 display student-list-table table table-bordered table-striped align-middle">
                                        <thead>
                                            <tr>
                                                <th>#</th> <!-- Serial Number Column -->
                                                <th>Course</th>
                                                <th>Semester</th>
                                                <th>Session</th>
                                                <th>No. Of Students</th>
                                                <th>HOD</th>
                                                <th>Dean</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                             @{
                                                var serialNumber = 1; // Initialize serial number
                                            }
                                            @foreach (var result in Model)
                                            { 
                                                <tr>
                                                    <td>@serialNumber</td> <!-- Display Serial Number -->
                                                    <td>
                                                        @result.CourseId
                                                    </td>
                                                    <td>@(result.Semester == 1 ? "First" : "Second")</td>
                                                    <td>@result.Sessions.Name</td>
                                                    <td>@result.NoOfStudents</td>
                                                    <td>@result.HODStatus</td>
                                                    <td>@result.DeanStatus</td>
                                                    <td>
                                                        <div class="btn-group dropdown-icon-none">
                                                            <button
                                                                    class="btn border-0 icon-btn b-r-4 dropdown-toggle active"
                                                                    type="button" data-bs-toggle="dropdown"
                                                                    data-bs-auto-close="true" aria-expanded="false">
                                                                <i class="ti ti-dots-vertical"></i>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                <li>
                                                                    <a class="dropdown-item" href="/result-details?reference=@result.ResultId&sortby=@result.DepartmentName&session=@result.Session"><i
                                                                        class="ti ti-eye"></i>View
                                                                    </a>
                                                                </li>
                                                                @if(result.LecturerStatus == "Approved"){
                                                                <li>
                                                                    <a class="dropdown-item" href="/mycourse-preview?reference=@result.ResultId&session=@result.Session"><i
                                                                        class="ti ti-file"></i>Clean Sheet
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item" href="/preview-result?refId=@ViewBag.dpt&session=10&semester=1&level=1&reference=@result.DepartmentName">
                                                                        <i class="ti ti-file"></i> Spreadsheet 
                                                                    </a>
                                                                </li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                 serialNumber++; // Increment serial number
                                            }
                                            
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                 

                </div>
                <!-- ready to use table end -->
            </div>
            </main>
        <!-- Body main section ends -->
    </div>
</div>

<!--customizer-->
<div id="customizer"></div>
           